@function xx-applyWB($col, $w, $b) {
  $col: $col / 255;
  @return round(($col * (1 - $w - $b) + $w) * 255);
}

@function hwb($hue, $w, $b, $alpha: 1) {
  
  $base: hsl($hue, 100%, 50%);
  @if(unit($w) == "%") { $w: $w / 100% } @else { $w: $w / 100 };
  @if(unit($b) == "%") { $b: $b / 100% } @else { $b: $b / 100 };
  
  @if($w + $b > 1) {
    $rat: $w + $b;
    $w: $w / $rat;
    $b: $b / $rat;
  }
  
  @return rgba(
    xx-applyWB(red($base), $w, $b),
    xx-applyWB(green($base), $w, $b),
    xx-applyWB(blue($base), $w, $b),
    $alpha
  );
}
